body, h1, h2, h3, h4, h5, h6, p { 
	background-color:#ffffff; 
	font-family: "Arial", "Helvetica", "sans-serif";
}

h1, h2, h3, h4, h5, h6{ 
	text-align: center;
}

h1 {
	border-top: solid, thick;
}



code {
	font-weight: bold; 
}

h2, dl {
	border-top: solid, thin;
	border-color: #c0c0c0;
}